<div id="h">
  <div class="container">
    <div class="row row-center">
      <div class="col-md-8 ">
        <h1>Yokai Kari Arrive</h1>
        <h5>Nous réglons les derniers combattants </h5>
        <h2>  Arrive Le 15 Novembre 2021</h2>
        <div class="countdown-header">
          <div class="countdown" >
            Bientôt dans l'arène
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</div>
<!--/H-->
<div class="content-page-cust">
  <div class="ptb mrc-5" style="margin-left: 50px!important;">
    <div class="row row-center">
      <div class="col-md-6">
        <h2>Toute notre équipe travaille durement pour votre application</h2>
        <BR/>
        <h4>Bestiaire et Yōkai</h4>

        <p>Le bestiaire permet de consulter le détail de tous les Yōkai précédemment capturés avec un onglet par niveau de rareté ou type de Yōkai (à définir).
          Un Yōkai se caractérise par : un nom, un descriptif, un niveau de rareté / un taux d’apparition, et un nombre de points. Chaque Yōkai possède donc une probabilité d’apparition qui lui est propre et qui définit également la distance à laquelle il peut apparaître.
        </p>
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
        <p><button class="btn btn-conf btn-blue">Learn More</button></p>
      </div>
      <!--/col-md-6-->
      <div class="col-md-6">
        <img src="../../assets/img/kappa_large.jpg" class="aligncenter" width="350">
      </div>
      <!--/col-md-6 -->
    </div>
    <!--/row-->
  </div>
  <!--/container-->

  <div id="g mb">
    <div class="mb">
      <div class="row row-center mrc-5 ">
        <h1 class="mrc-5" >Subscribe to stay informed</h1>
        <div class="col-md-10 col-md-offset-3 mb">
          <form role="form" method="post" >
            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-conf btn-blue' type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <!--/row-->

      <div class="row mrc-5">
        <div class="col-md-3">
          <h4>SOCIAL MEDIA</h4>
          <p class="social-icon">
            <a href="#"><img src="assets/img/facebook-square-brands.svg"></a>
            <a href="#"><img src="assets/img/google-plus-g-brands.svg"></a>
            <a href="#"><img src="assets/img/twitter-brands.svg"></a>
          </p>
        </div>
        <div class="col-md-5 p-3">
          <h4>Infos sur Yokai kari</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
        <div class="col-md-4 p-3">
          <h4>CONTACT INFORMATION</h4>
          <p>
            yokai.kari@contact.com <br/> Park Ave, 987,<br/> London, United Kingdom.
          </p>
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!--/div-->


  <div id="contact mrc-5">
    <div class="mb">
      <div class="row row-center">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="centered">Contact Form</h2>
          <form class="contact-form php-mail-form" role="form" method="POST">

            <div class="form-group">
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large">Send Message</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- / contact -->
</div>

